.program-list-item {
  padding: 20px;
}

.program-list-item__wrapper {
  border: 1px solid black;
  padding: 20px;
}

.program-list-item__image {
  border-radius: 50%;
  padding: 10px;
  height: 100px;
  width: 100px;
}