# System files...
.DS_Store

# Workspace files
/.idea/

# NPM, Gulp, etc
/.coverdata/
/coverage/
/debug/
/node_modules/
.coverrun
npm-debug.log

# Settings
src/settings.json

# Dist
dist/js/index.js
dist/js/index.min.js
