.event-page  {
 background-color: #a20046;
 background-image: url("vines.png");
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
}

.event-page__headline {

}

.event-page__image {

}



.event-page__information {
 background: white;
 min-height: 50px;
 padding: 8px;
}

.event-page__buttonLeft {
 margin-top:10px;
 width:200px;
}

.event-page__buttonRight {
 float:right;
 margin-top:10px;
 width:200px;
}


.event-page__popup {
 width: 500px;
 margin-left: auto;
 margin-right: auto;
 padding-top: 50px;
}