.main-page  {
 background-color: #5d9732;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
}

.main-page__headline {

}

.main-page__image {

}

.main-page__button {

}

.main-page__information {

}

.left {
  display: table-cell;
  min-width: 160px;
 border: 2px solid;
}
.right {
  display: table-cell;
  width: 100%;
  vertical-align: top;

}

.top {
  height: 100px;
  vertical-align: top;
 border-bottom: 2px solid
}

.mainarea {
  width: 100%;
  vertical-align: top;

}