.main-page  {
 background-color: #a20046;
  height: 100%;

  width: 100%;

  font-family: Khula;
}

.main-page__headline {

}

.main-page__image {

}

.main-page__button {

}

.main-page__information {

}

.left {
  display: table-cell;
  min-width: 300px;
    padding-left:25px;
    padding-top:25px;

}
.right {
  display: table-cell;
  width: 100%;
  vertical-align: top;
    padding-left:25px;
    padding-top:25px;
    padding-right:25px;

}

.top {
  vertical-align: top;
  border: 2px solid #f8bd16
}

.main-area {
  width: 100%;
  vertical-align: top;

}