.quater-report-page  {
  background-color: #5d9732;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
}

.quaterReport_headline {

}

.quaterReport_image {

}

.quaterReport_button {

}

.quaterReport_information {

}
