.main-header__bar {
}

.main-header__bar-capital {
  display: 'inline-block';
  margin-right: 30px;
}

.main-header__bar-cash-flow {
  display: 'inline-block';
  margin-right: 30px;
}

.main-header__bar-quarter {
  display: 'inline-block';
}