.final-report  {
    background-color: #a10046;
    background-image: url("vines.png");
}

.final-report__headline {

}

.final-report__image {

}

.final-report__button {

}

.final-report__information {

}

.final-report__button {

}

.playAgainWrapper{
    padding:10px;
}

.playAgainWrapper h2{
    font-size: 30px;
    color: #F9BE16;
    font-weight: bold;
}
