.quarter-report-page {
  background-color: #5d9732;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
}

.quarterReport_headline {

}

.quaterReport_image {

}

.quaterReport_button {

}

.quarterReport_information {

}
